.bet_description {
    margin: 0;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #111;
    font-weight: 700;
    display: -webkit-box;
    overflow: hidden;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    background: #f7f8fa;
    border-radius: 4px 4px 0 0;
    padding: 0 1.2rem;
    display: flex;
    align-items: center;
    height: 3.8rem;
    overflow: hidden;
}
.bet_item {
    display: inline-block;
    width: 25%;
    margin-bottom: 5px;
}
.bet_item_description {
    display: inline-block;
    width: 70%;
    padding: 0 1.2rem;
}
.bet_item_odds {
    display: inline-block;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    text-align: center;
    padding: 0.4rem 0.7rem;
    border-radius: 0.4rem;
    background: #b8bde5;
    border: 1px solid transparent;
    transition: background-color .2s,color .2s;
    user-select: none;
    cursor: pointer;
    min-width: 4.4rem;
}
.bet_font {
    font-weight: 600;
    font-size: 1.0rem;
}
.bet_message {
    text-align: center;
}
.bet_group {
    background: #fff;
}
.sticky {
    position: fixed;
    z-index: 20;
    top: 3.5rem;
    left: 250px;
    right: 0px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.bets_main {
    position: relative;
    z-index: 0;
    top: 7rem;
}