@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using FantasyBets.Data
@inject IDbContextFactory<DataContext> DbFactory

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>


    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

@code {
    List<Season>? seasons = null!;

    protected override async Task OnInitializedAsync()
    {
        await using var db = await DbFactory.CreateDbContextAsync();
        await db.Database.EnsureCreatedAsync();
        seasons = await db.Seasons!.Include(x => x.Rounds).ToListAsync();
    }
}