@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #aa4b07;
    border-color: #9a3b07;
}

.btn-secondary {
    color: #fff;
    background-color: #ca6b27;
    border-color: #9a3b07;
}

.btn-check:focus + .btn-primary, .btn-primary:focus, .btn-primary:hover {
    color: #fff;
    background-color: #aa4b07;
    border-color: #9a3b07;
    box-shadow: 0,0,0,0
}

.btn-check:focus + .btn-secondary, btn-secondary:focus, .btn-secondary:hover {
    color: #fff;
    background-color: #ca6b27;
    border-color: #9a3b07;
    box-shadow: 0,0,0,0
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

article {
    display: block;
}

.data-row {
    display: inline-flex;
    align-items: center;
    padding: 20px 40px;
    font-size: 14px;
    font-weight: 700;
}

.data-center {
    display: inline-flex;
    width: 3rem;
    align-items: center;
    justify-content: center;
}

.data-time {
    display: inline-flex;
    width: 8rem;
    align-items: center;
    justify-content: center;
}

.data-home-team {
    display: inline-flex;
    width: 20rem;
    padding: 0rem 1rem;
    justify-content: flex-end;
    align-items: center;
}

.data-away-team {
    display: inline-flex;
    width: 20rem;
    padding: 0rem 1rem;
    justify-content: flex-start;
    align-items: center;
}

ul {
    list-style-type: none;
    justify-content: center;
}

    ul li {
        display: list-item;
        color: #050505;
    }

li a {
    margin: 0px;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

h2 a {
    text-decoration: none;
}

a:link {
    color: inherit;
}

a:visited { 
    color: inherit;
}

.center {
    width: 50%;
    margin: 0 auto;
}

.round-header {
    display: inline-flex;
    margin-left: 310px;
    min-width: 760px;
}

.rankings-round-header {
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}

.rankings-total {
    margin-top: 4rem;
}

.inline {
    display: inline-flex;
    align-items: center;
}

.bet-selection {
    min-width: 25rem;
    font-size: 0.9rem;
    font-weight: 600;
}

.bet-odds {
    color: darkred;
}

.display-end {
    margin-left: auto;
}

.user-points {
    font-size: 1.0rem;
    font-weight: 700;
    min-width: 200px;
}

.text-right {
    text-align: right;
    margin-right: 1rem;
    justify-content: flex-end;
}

a.disabled {
    pointer-events: none;
}