@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<PageTitle>FantasyBets</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <span>@user!.Identity!.Name</span>
            <a href="/Identity/Account/Logout">Logout</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    [CascadingParameter] protected Task<AuthenticationState> AuthStat { get; set; } = null!;
    System.Security.Claims.ClaimsPrincipal user = null!;

    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();

        if (AuthStat is null)
            return;

        user = (await AuthStat).User;
        if (user is null || user.Identity is null)
            return;

        if(!user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo($"/Identity/Account/Login");
        }
    }
}