@using FantasyBets.Data
@using FantasyBets.Services

@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject StateContainer StateContainer
@inject UserManager<FantasyUser> UserManager
@inject IDbContextFactory<DataContext> DbContextFactory
@inject LoggedUserService LoggedUserService;
@inject StateContainer StateContainer

<PageTitle>FantasyBets</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <span>@user?.Identity?.Name</span>
            <a href="/Identity/Account/Logout">Logout</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    [CascadingParameter] 
    protected Task<AuthenticationState> AuthStat { get; set; } = null!;
    System.Security.Claims.ClaimsPrincipal user = null!;

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (StateContainer.CurrentUser is null)
        {
            try
            {
                user = await LoggedUserService.SetLoggedUser(AuthStat);
                if (!user!.Identity!.IsAuthenticated)
                {
                    NavigationManager.NavigateTo($"/Identity/Account/Login");                    
                }
            }
            catch
            {
                NavigationManager.NavigateTo($"/Identity/Account/Login");
            }
        }
    }
}